/* Large Desktop Fix */
@media only screen and (max-width: 1920px) {
	.property-search {
		position: relative;
		z-index: 1;
	}
	.tabs-ebook .tabs {
	  margin-top: 100px;
	  padding-right: 100px;
	}
	.intro-resume {
	  height: 950px;
	}
}

/* Tablet Layout: 768px */
@media only screen and (max-width: 991px) {
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		margin: 0;
    }
	.navbar-toggle .icon-bar{
		background: #fff;
	}
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
		background: #333333;
		padding-bottom: 30px;
    }
	.collapse.in ul {
	  margin: 0;
	}
	header nav.navbar .navbar-morki.collapse.in ul.nav li.nav-download-btn a {
	  background: #ef494d;
	  color: #fff;
	}
	.navbar-default .navbar-toggle{
		border: 0 none;
		transition: 0.3s ease;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
		background: #fff;
	}
	.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
		background-color: #ef494d;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	
	
	/* App Landing Template */
	.intro .intro-content .intro-text {
	  margin-top: 70px;
	}
	.overview .overview-details .col-md-3:first-child, .overview .overview-details .col-md-3:last-child {
	  margin-top: 0;
		margin-bottom: 60px;
	}
	.overview .overview-details .col-md-3{
		margin-bottom: 60px;
	}
	.features .single-feature span::before, .features .single-feature span::after{
		content: none;
	}
	.features-image{
		text-align: center;
		margin: 60px 0;
	}
	.features-image img{
		display: inline-block;
	}
	.how-work{padding-bottom: 70px;}
	.how-work .col-sm-6{
		margin-bottom: 50px;
	}
	.how-work .col-sm-6 img{
		display: inline-block;
	}
	.app-description .title {
	  margin-top: 50px;
	}
	.testimonial{
		padding-bottom: 80px;
	}
	.testimonial .clients-logo{margin-top: 80px;}
	.testimonial .clients-logo .col-sm-4{text-align: center;}
	.testimonial .clients-logo .col-sm-4 img{display: inline-block;}
	.price-table{
		padding-bottom: 70px;
	}
	.price-table .single-plan{
		margin-bottom: 50px;
	}
	.latest-news{padding-bottom: 70px;}
	.latest-news .news-single{margin-bottom: 50px;}
	
	/* Software Landing Template */
	.sass-about-benefit .about-sass .about-image {
	  margin-top: 100px;
	  position: static;
		text-align: center;
	}
	.sass-about-benefit .about-sass .about-image img, .sass-about-benefit .saas-benefit .benefit-image img{
		display: inline-block;
	}
	.sass-about-benefit .saas-benefit .benefit-image {
		position: static;
		margin: 100px 0 0 0;
		text-align: center;
	}
	.saas-price-table{
		padding-bottom: 70px;
	}
	.saas-price-table .price-table-wrapper .pt-single{
		margin-bottom: 50px;
	}
	.saas-team{
		padding-bottom: 70px;
	}
	.saas-team .team-wrapper .team-single{
		margin-bottom: 50px;
	}
	.saas-team .team-wrapper .team-single figure img{
		width: 100%;
	}
	
	/* Hosting Landing */
	.navbar-toggle .icon-bar {
	  background: #323232;
	}
	.intro-hosting nav.hosting-nav .collapse.in{
		background: #fff;
	}
	.intro-hosting-image{
		margin-top: 50px;
	}
	.domain-search ul.domain-price {
	  text-align: center;
	}
	.domain-search form div p.search-label {
	  margin: 0;
	}
	.hosting-offer,
	.hosting-plan,
	.hosting-stats{
		padding-bottom: 70px;
	}
	.hosting-offer .offer-boxes .box-single,
	.hosting-plan .price-plans .plan-single,
	.hosting-stats .stats-wrapper .stat-single{
		margin-bottom: 50px;
	}
	.featured-services .feature-tabs ul.nav-tabs li{
		margin: 0 12px 20px 12px;
	}
	.featured-services .feature-tabs ul.nav-tabs li:last-child {
	  margin-right: 12px;
	}
	.hosting-cta p {
	  font-size: 20px;
	  line-height: 26px;
		padding: 0;
	}
	
	/* Real Estate Multi */
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details{
		width: 400px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details h1 {
	  font-size: 25px;
	  line-height: 35px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details h1 span.sticker{
		top: -4px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details p{
		font-size: 18px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details ul li span:first-child {
	  font-size: 35px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details ul li span:last-child {
	  font-size: 14px;
	  padding-left: 7px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details {
	  padding: 15px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details ul li {
	  margin-right: 25px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details h2 {
	  font-size: 25px;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption {
	  top: 65%;
	}
	.intro-rstate-m {
	  min-height: 551px;
	}
	.intro-rstate-m .property-slider{
		height: auto;
	}
	.container-custom{
		width: 100%;
	}
	.rem-agent-details .agent-contact-btn {
	  padding-top: 60px;
		padding-bottom: 40px;
		text-align: center;
	}
	.rem-agent-details .agent-contact-btn a{
		display: inline-block;
		padding: 15px 50px;
	}
	.rem-cta{
		text-align: center;
	}
	.rem-cta a {
	  display: inline-block;
	  padding: 15px 50px;
	  margin-top: 30px;
	}
	
	/* Travel Landing */
	.intro-travel .navbar-toggle .icon-bar {
	  background: #fff none repeat scroll 0 0;
	}
	.about-search .travel-search ul.nav-menu li a {
	  padding: 23px 10px;
	}
	.discount .discount-details{
		margin-bottom: 50px;
	}
	.discount .video figure img {
		width: 100%;
	}
	
	/* Ebook Landing */
	.navbar.megaland-nav{
		z-index: 1;
	}
	.intro-ebook .navbar-toggle .icon-bar {
	  background: #fff none repeat scroll 0 0;
	}
	.intro-ebook{
		height: 650px;
	}
	.intro-ebook .ebook-intro-content .book-details h1 {
	  font-size: 30px;
	  line-height: 40px;
	}
	.intro-ebook .ebook-intro-content .book-details {
	  margin-top: 0;
	}
	.about-book-vdo{
		margin-top: 60px;
	}
	.about-authors {
	  padding-bottom: 120px;
	}
	.video-review {
	  padding: 180px 0;
	}
	.features-ebook .features-boxes .feature-single {
	  min-height: 280px;
	}
	.tabs-image img{
		width: 100%;
	}
	.tabs-ebook .tabs {
	  padding: 0 30px 35px 30px;
	}
	
	/* Resume Landing */
	.intro-resume .megaland-nav .collapse.in ul li a{
		color: #fff;
	}
	.intro-resume .resume-intro-content .resume-details h1 {
	  font-size: 55px;
	  line-height: 70px;
	}
	.intro-resume .resume-intro-content .resume-details p {
	  font-size: 22px;
	}
	.intro-resume .resume-intro-content .resume-details ul li {
	  margin-bottom: 25px;
	}
	.intro-resume .resume-intro-content .resume-details ul li:last-child {
	  margin-bottom: 0;
	}
	.resume-about .about-stats .stats-single ul li:last-child h3 {
	  font-size: 40px;
	}
	.testimonial-resume .testimonial-carousel-resume .testimonial-single .client-details ul li {
	  display: block;
	}
	.testimonial-resume .testimonial-carousel-resume .testimonial-single .client-details ul li:last-child {
	  float: none;
		margin-top: 15px;
	}
	.testimonial-resume .testimonial-carousel-resume .owl-nav {
	  bottom: 20px;
	  left: auto;
		right: 0;
	  top: auto;
	}
	.blog-resume .blog-posts .post-hr .post-image img {
	  min-height: 430px;
	}
	.portfolio-resume .works-wrapper .work-single {
	  width: 50%;
	}
	.portfolio-resume .works-wrapper .work-single figure img {
	  width: 100%;
	}
	
	/* Restaurant Landing Page */
	.reservation .reservation-image {
	  padding-right: 0;
	  padding-left: 0;
	}
	.menu-restrnt .food-menus .tab-content .food-items .item-single .item-image, .menu-restrnt .food-menus .tab-content .food-items .item-single .item-details {
	  display: block;
	}
	.menu-restrnt .food-menus .tab-content .food-items .item-single .item-image {
	  width: 100%;
	}
	.menu-restrnt .food-menus .tab-content .food-items .item-single .item-details {
	  padding-left: 0;
	}
	.exerience-restrnt .experience-details .list-left {
	  margin-bottom: 40px;
	}
	.menu-restrnt .food-menus ul.f-menu-btns {
	  margin-bottom: 40px;
	}
	.menu-restrnt .food-menus ul.f-menu-btns li {
	  margin-bottom: 20px;
	}
	.menu-restrnt .food-menus .tab-content .food-items:first-child{
		margin-bottom: 60px;
	}
	.gallery-restrnt .gallery-wrapper .gallery-single {
	  width: 100%;
	}
	
}


/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
	.navbar-header {
	  padding: 0 15px;
	}
	.price-table .price-wrapper .price-head{
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.latest-news .news-single .news-thumb img {
	  width: 100%;
	}
	.download-app .title.user-subscribe form {
	  width: 100%;
	}
	.contact-us form {
	  padding: 0 15px;
	}
	.download-app .title .store-btns a {
	  margin-bottom: 30px;
	}
	.title p {
	  width: 90%;
	}
	.screenshoot .screenshot-carousel .slick-slide {
	  text-align: center;
	}
	.screenshoot .screenshot-carousel .slick-slide img{
	  display: inline-block;
	}
	
	/* Software Landing Template */
	.intro-saas .intro-content .intro-sass-text {
	  margin-bottom: 20px;
	}
	.saas-clients{
		padding-bottom: 20px;
	}
	.saas-clients ul li {
	  margin-bottom: 30px;
	}
	.tools{
		padding-bottom: 70px;
	}
	.tools .tools-wrapper .col-sm-3{
		margin-bottom: 50px;
	}
	.saas-features .features-content .features-box .col-sm-4{
		margin-bottom: 50px;
	}
	.saas-features .features-content .features-box .col-sm-4:last-child{
		margin-bottom: 0;
	}
	.saas-counter .count-boxes .col-sm-3{
		margin-bottom: 50px;
	}
	.saas-counter .count-boxes .col-sm-3:last-child{
		margin-bottom: 0;
	}
	.saas-subscribe form{
		width: 100%;
	}
	.section-header p{
		width: 100%;
	}
	.saas-subscribe form button{
		width: 140px;
		font-size: 15px;
	}
	.saas-subscribe form input {
	  font-size: 15px;
	  padding: 0 155px 0 35px;
	}
	.intro-saas .intro-content .intro-sass-text ul li {
	  margin-bottom: 40px;
	}
	
	/* Hosting Landing */
	.intro-hosting-image {
	  text-align: center;
	}
	.intro-hosting-image figure{
		display: inline-block;
	}
	.intro .intro-content .intro-hosting-text{
		text-align: center;
	}
	.intro-hosting .intro-content .intro-hosting-text ul.intro-btn-group li{
		margin: 0 12px 20px 12px;
	}
	.intro-hosting .intro-content .intro-hosting-text ul.intro-btn-group li:last-child{
		margin-right: 12px;
	}
	.domain-search form div p.search-label{
		text-align: center;
	}
	.domain-search form div p.search-label, .domain-search form .form-area{
		margin-bottom: 20px;
	}
	.domain-search ul.domain-price li{
		padding: 0 12px 20px 12px;
	}
	.section-header-hosting p{
		width: 100%;
	}
	.hosting-services .service-list .service-single{
		text-align: center;
	}
	.hosting-testimonial .hosting-testimonial-carousel .carousel-text .single-box {
	  width: 100%;
	}
	.hosting-cta p{
		text-align: center;
		margin-bottom: 30px;
	}
	.hosting-cta .cta-btn{
		text-align: center;
	}
	.hosting-contact .contact-details{
		margin-bottom: 20px;
	}
	.hosting-contact .contact-details .col-sm-3{
		margin-bottom: 50px;
	}
	
	/* Real Estate Multi */
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details p,
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details ul,
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details h2{
		display: none;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details {
	  width: 100%;
	}
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption{
		top: 75%;
	}
	.intro-rstate-m {
	  min-height: 400px;
	}
	.property-search div.tab-content .tab-pane form .form-group select {
	  background: transparent url("../images/re-multi/arrow-down.png") no-repeat scroll 98% center;
	}
	.property-search div.tab-content .tab-pane form .form-group select:last-child {
	  margin-bottom: 25px;
	}
	.rem-wcu .wcu-right {
	  height: 400px;
	}
	.section-header-rem p {
	  width: 100%;
	}
	.rem-latest-property .rem-property-grid .property-single figure img{
		width: 100%;
	}
	.rem-gallery .gallery-masonry .grid .grid-item, .rem-gallery .gallery-masonry .grid .grid-item.grid-item--width2 {
	  height: auto;
	  width: 100%;
	}
	.rem-partners .partners-logo ul li {
	  width: 50%;
	}
	.rem-subscribe .subscribe-form form button {
	  font-size: 20px;
	  padding: 0 40px;
	}
	.rem-subscribe .subscribe-form form input {
	  padding: 0 140px 0 30px;
	}
	.rem-contact .contact-content #map {
	  margin-bottom: 50px;
	}
	
	.about-search {
	  padding: 120px 0 120px;
	}
	.about-search .travel-search ul.nav-menu {
	  float: none;
		width: 100%;
	}
	.about-search .travel-search ul.nav-menu li{
		display: inline-block;
	}
	.about-search .travel-search ul.nav-menu li a {
	  padding: 23px;
	}
	.about-search .travel-search .tab-content-main .tab-pane div .tab-content form div {
	  float: none;
	  width: 100%;
	}
	.about-search .travel-search .tab-content-main {
	  float: none;
	  width: 100%;
	}
	.about-search .travel-search {
	  position: static;
		margin-bottom: 60px;
	}
	.about-search .travel-search .tab-content-main .tab-pane div .tab-content form div{
		margin-bottom: 25px;
	}
	.about-search .travel-search .tab-content-main .tab-pane div .tab-content form div label {
	  padding-left: 0;
	}
	.travel-packages .package-boxes .package-single figure img,
	.iea .iea-boxes .iea-single figure img{
	  width: 100%;
	}
	.travel-stats{
		padding-bottom: 60px;
	}
	.travel-stats .col-sm-3{
		margin-bottom: 60px;
	}
	.section-header-travel p {
	  width: 100%;
	}
	.travel-contact .contact-top {
	  margin-bottom: 30px
	}
	.travel-contact .contact-top .cd-box {
	  margin-bottom: 40px;
	}
	.travel-packages .package-search form {
	  width: 100%;
	}
	.intro-travel .travel-intro-content p {
	  font-size: 16px;
	  width: 100%;
	}
	
	/* Ebook Landing */
	.intro-ebook .ebook-intro-content {
	  position: static;
	  top: 0;
	  transform: translateY(0px);
	}
	.book-cover, .intro-ebook .ebook-intro-content .book-details {
	  margin-top: 40px;
	}
	.features-ebook .features-boxes .feature-single {
	  min-height: auto;
	}
	.section-header-ebook p, .subscribe-ebook form {
	  width: 100%;
	}
	.contact-ebook .contact-details form .form-group textarea{
		margin-top: 20px;
	}
	
	/* Resume Landing */
	.resume-about .about-me-content img{
		width: 100%;
	}
	.resume-about .about-me-content .about-me-details{
		margin-top: 40px;
	}
	.resume-timeline .resume-area .resume-tree .resume-cloumn .resume-desc {
	  width: 40%;
	}
	.portfolio-resume .works-wrapper .work-single {
	  width: 100%;
	}
	.blog-resume .blog-posts .post-hr .post-image img {
	  min-height: auto;
	}
	.blog-resume .blog-posts .post-hr .post-image {
	  padding-right: 15px;
	}
	.contact-resume .contact-wrapper .contact-right{
		margin-top: 30px;
	}
}


/* Wide Mobile Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

@media only screen and (max-width: 480px) {
	.intro-rstate-m .property-slider .carousel-inner .item figure figcaption .slider-details {
	  display: none;
	}
}


















